// General info
manifest {
    name = 'baargin'
    author = 'Juliette Hayer'
    homePage = 'https://github.com/jhayer/baargin'
    description = 'Workflow for analysis of Bacteria Whole Genome Sequencing (WGS) data with AntiMicrobial Resistance (AMR) focus'
    nextflowVersion = '>=22.04.0'
    version = '0.1'
    mainScript = 'main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = "16g"
    help = false
    profile = false

    // phred
    phred_type = '33'

    // Databases
    //provided with download_db.py script
    card_db = "$baseDir/db/card/card.json"
    kraken2_db = "$baseDir/db/kraken2_mini/mini_std_4G"
    plasmidfinder_db = "$baseDir/db/plasmidfinder"

    // Optional DBs
    amrfinder_db = ''
    params.bakta_db = ''
    platon_db = ''

    //species Options
    busco_lineage = null

    // Output
    output = './results'
    tmpdir = './tmpdir'
}

profiles {

    docker {
        docker.enabled = true
        includeConfig "$baseDir/conf/containers.config"
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }
    itrop {
        executor {
            name = 'slurm'
        }
        singularity.enabled = true
        includeConfig "$baseDir/conf/itrop.config"
    }
    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/conf/containers.config"
    }
    local{
        executor {
            name = 'local'
        }
    }
    slurm {
        executor {
            name = 'slurm'
        }
    }
}
