// General info
manifest {
    name = 'baargin'
    author = 'Juliette Hayer'
    homePage = 'https://github.com/jhayer/baargin'
    description = 'Workflow for analysis of Bacteria Whole Genome Sequencing (WGS) data with AntiMicrobial Resistance (AMR) focus'
    nextflowVersion = '>=22.04.0'
    version = '0.1'
    mainScript = 'main.nf'
}

// default parameters
params {
    help = false
    profile = false

    // phred
    phred_type = '33'

    //Reads and contigs params
    reads_folder=''
    contigs=''
    genus=''
    species=''
    amrfinder_organism=''

    // Databases
    //provided with download_db.py script
    card_db = "$baseDir/db/card/card.json"
    kraken2_db = "$baseDir/db/kraken2_mini/mini_std_4G"
    plasmidfinder_db = "$baseDir/db/plasmidfinder"

    // Optional DBs
    amrfinder_db = ''
    params.bakta_db = ''
    platon_db = ''
    busco_db_offline=''

    //species Options
    busco_lineage = null

    // Output
    output = './results'
    tmpdir = './tmpdir'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {

    docker {
        docker.enabled = true
        includeConfig "$baseDir/conf/base.config"
        includeConfig "$baseDir/conf/containers.config"
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }
    itrop {
        executor {
            name = 'slurm'
        }
        singularity.enabled = true
        includeConfig "$baseDir/conf/itrop.config"
    }
    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/conf/base.config"
        includeConfig "$baseDir/conf/containers.config"
    }
    local{
        executor {
            name = 'local'
        }
    }
    slurm {
        executor {
            name = 'slurm'
        }
    }
    test {
        params.contigs = "$baseDir/test/input/contigs"
        params.genus = 'Escherichia'
        params.species = 'coli'
        params.species_taxid = 562
        params.busco_lineage = 'enterobacterales_odb10'
        params.output = './results_test' 
    }
}


