// General info
manifest {
    name = 'nf-wgs-amr'
    author = 'Juliette Hayer'
    homePage = 'https://github.com/jhayer/nf-wgs_amr'
    description = 'Workflow for analysis of Bacteria Whole Genome Sequencing (WGS) data with AntiMicrobial Resistance (AMR) focus'
    nextflowVersion = '>=22.04.0'
    version = '0.1'
    mainScript = 'main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = "16g"
    help = false
    profile = false

    // phred
    phred_type = '33'

    // Databases
    card_db = ''
    kraken2_db = ''
    plasmidfinder_db = ''
    // Optional DBs
    amrfinder_db = ''
    params.bakta_db = ''
    platon_db = ''

    //species Options
    busco_lineage = null

    // Output
    output = './results'
    tmpdir = './tmpdir'
}

profiles {
    //executer
    itrop {
        includeConfig 'conf/itrop.config'
    }
    singu {
        includeConfig 'conf/singu.config'
    }

}
