
process {

    withLabel: amrfinderplus {
      cpus = '2'
      time = '24h'
    }

    withLabel: bakta {
      cpus = '4'
      time = '24h'
    }

    withLabel: busco {
        cpus = '2'
        time = '24h'
    }

    withLabel: card {
      cpus = '2'
      time = '24h'
    }

    withLabel: card_hm {
      cpus = '2'
      time = '12h'
    }

    withLabel: fastp {
        cpus = '4'
        time = '4h'
    }

    withName: kraken2nt_contigs {
        cpus = '4'
        time = '24h'
    }

    withName: mefinder {
      cpus = '2'
      time = '4h'
    }

    withName: mlst {
      cpus = '2'
      time = '24h'
    }

    withName: plasmidfinder {
      cpus = '2'
      time = '4h'
    }

    withName: platon {
      cpus = '4'
      time = '8h'
    }

    withLabel: prokka {
      cpus = '2'
      time = '24h'
    }

    withLabel: python3 {
      cpus = '1'
      time = '24h'
    }

    withLabel: quast {
        cpus = '4'
        time = '24h'
    }

    withName: roary {
      cpus = '4'
      time = '24h'
    }

    withName: roary_fasstree {
      cpus = '8'
      time = '24h'
    }

    withName: roary_plots {
      cpus = '2'
      time = '8h'
    }

    withName: spades {
        cpus = '4'
        memory = '4g'
        time = '24h'
    }

    withName: unicycler {
        cpus = '4'
        memory = '4g'
        time = '48h'
    }
}
