
process {

    withLabel: amrfinderplus {
      container = 'quay.io/biocontainers/ncbi-amrfinderplus:3.12.8--h283d18e_0'
    }

    withLabel: bakta {
      container = 'oschwengers/bakta:v1.8.1'
    }

    withLabel: busco {
        container = 'quay.io/biocontainers/busco:5.3.2--pyhdfd78af_0'
    }

    withLabel: card {
      container = 'quay.io/biocontainers/rgi:6.0.3--pyha8f3691_1'
    }

    withLabel: fastp {
        container = 'quay.io/biocontainers/fastp:0.23.2--h5f740d0_3'
    }

    withLabel: fasttree {
        container = 'quay.io/biocontainers/fasttree:2.1.11--h031d066_3'
    }

    withName: kraken2nt_contigs {
        container = 'quay.io/biocontainers/kraken2:2.1.2--pl5321h7d875b9_1'
    }

    withName: mefinder {
      container = 'mkhj/mobile_element_finder:1.0.3'
    }

    withName: mlst {
      container = 'quay.io/biocontainers/mlst:2.22.0--hdfd78af_0'
    }

    withName: plasmidfinder {
      container = 'quay.io/biocontainers/plasmidfinder:2.1.6--hdfd78af_0'
    }

    withName: platon {
      container = 'quay.io/biocontainers/platon:1.6--pyhdfd78af_1'
    }

    withLabel: prokka {
      container = 'quay.io/biocontainers/prokka:1.14.6--pl5321hdfd78af_4'
    }

    withLabel: python3 {
      container = 'biocontainers/biopython:v1.73dfsg-1-deb-py3_cv1'
    }

    withLabel: quast {
        container = 'quay.io/biocontainers/quast:5.0.2--py27pl5321h8f2a353_7'
    }

    withName: roary {
      container = 'sangerpathogens/roary:trusty'
    }
    
    withLabel: roary_plots {
      container = 'oras://community.wave.seqera.io/library/biopython_pandas_python_seaborn_pruned:c9c98aa4d8cab3ef'
    }

    withName: spades {
        container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1'
    }

    withName: unicycler {
        container = 'quay.io/biocontainers/unicycler:0.5.0--py310hc8f18ef_2'
    }
}
