docker {
    enabled = false
}
conda {
    enabled = true
}
singularity {
    enabled = true
}

process {
    executor = 'slurm'

    withName: fastp {
        cpus = '4'
        time = '4h'
        module = 'bioinfo/fastp/0.20.1'
    }

    withName: spades {
        cpus = '8'
        memory = '4g'
        time = '24h'
        module = 'bioinfo/SPAdes/3.14.1'
    }

    withName: kraken2nt_contigs {
        cpus = '4'
        time = '24h'
        module = 'bioinfo/kraken2/2.1.1'
    }
    withName: extract_kraken {
        cpus = '2'
        time = '4h'
        module = 'system/python/3.8.12'
    }

    withName: quast {
        cpus = '4'
        time = '24h'
        container = 'docker://quay.io/biocontainers/quast:5.0.2--py27pl5321h8f2a353_7'
    }

    withName: busco {
        cpus = '2'
        time = '24h'
        container = 'docker://quay.io/biocontainers/busco:5.2.2--pyhdfd78af_0'
    }

    withName: busco_auto_prok {
        cpus = '2'
        time = '24h'
        container = 'docker://quay.io/biocontainers/busco:5.2.2--pyhdfd78af_0'
    }

    withName: mash {
      cpus = '2'
      time = '24h'
      module = 'bioinfo/mash/2.2'
    }

    withName: amrfinderplus {
      cpus = '2'
      time = '24h'
      container = 'docker://quay.io/wslh-bioinformatics/spriggan-amrfinder:3.10.1'
    }

    withName: amrfinderplus_no_species {
      cpus = '2'
      time = '24h'
      container = 'docker://quay.io/wslh-bioinformatics/spriggan-amrfinder:3.10.1'
    }

    withName: card_rgi {
      cpus = '2'
      time = '24h'
      module = 'system/Miniconda3/1.0'
    }
  //  module = 'system/singularity/3.6.0'
  //  container = 'docker://quay.io/biocontainers/rgi:5.2.0--pyhdfd78af_0'
    //conda = '/home/hayer/.conda/envs/rgi'

    withName: plasmidfinder {
      cpus = '2'
      time = '24h'
      container = 'docker://quay.io/biocontainers/plasmidfinder@sha256:d71a05f471cd00766990c949c3c86858870b96bd2e0cc86452e2fe924b8333eb'
    }
}
