docker {
    enabled = false
}
conda {
    enabled = true
}

process {
    executor = 'slurm'

    withName: fastp {
        cpus = '4'
        time = '4h'
        module = 'bioinfo/fastp/0.20.1'
    }

    withName: spades {
        cpus = '8'
        memory = '4g'
        time = '24h'
        module = 'bioinfo/SPAdes/3.14.1'
    }

    withName: kraken2nt_contigs {
        cpus = '4'
        time = '24h'
        module = 'bioinfo/kraken2/2.1.1'
    }

    withName: quast {
        cpus = '2'
        time = '24h'
        module = 'bioinfo/quast/5.0.2'
    }

    withName: busco {
        cpus = '2'
        time = '24h'
        module = 'bioinfo/BUSCO/5.2.2'
    }

    withName: mash {
      cpus = '2'
      time = '24h'
      module = 'bioinfo/mash/2.2'
    }

    withName amrfinderplus {
      cpus = '2'
      time = '24h'
      module = 'system/Miniconda3/1.0'
    }

    withName card_rgi {
      cpus = '2'
      time = '24h'
      module = 'system/Miniconda3/1.0'
    }

}
